body {
	background: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
h1 {
	font-size: 100px;
	font-family: "StatusBoardFont";
	font-weight: normal;
	color: white;
	margin: 0;
	padding: 0;
	margin-top: 16px;		
}
h2 {
	font-size: 32px;
	font-family: "StatusBoardFontLight";
	font-weight: lighter;
	color: #A8A8A8;
	margin: 0;
	padding: 0;
	margin-top: -24px;
}
h3 {
	font-size: 24px;
	font-family: "StatusBoardFontLight";
	font-weight: lighter;
	color: #7D7D7D;
	margin: 0;
	padding: 0;
	line-height: 5px;
	padding-top: 20px;
}
img {
	display: none;
	max-width: 100%;
	margin: 0;
	padding: 0;
}