@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta application-name="KitchenResponsible" data-refresh-every-n-seconds="60" data-allows-resizing="NO" data-default-size="9,4" data-min-size="4,4" data-max-size="10,4" data-allows-scrolling="NO" />
    <title>KitchenResponsible</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
